.mainContainer {
  position: relative;
  overflow: hidden;
  background-color: var(--bgColor);
}

.floatLine {
  position: absolute;
  display: flex;
  align-items: center;
  right: 8px;
  top: 8px;
  z-index: 1;
}

.floatLine > * {
  margin-left: 12px;
}