.menuItem {
  clear: both;
  margin: 0;
  padding: 6px 4px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5714285714285714;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.menuItem:hover {
  background-color: var(--hover-bgColor);
}

.menuItem > .left {
  margin-left: 4px;
  margin-right: 8px;
}

.menuItem > .right {
  margin-left: 8px;
  margin-right: 4px;
}

.menuItem.disabled {
  color: grey;
  cursor: not-allowed;
}