.mainContainer {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 6px var(--border-shadow-color);
  background-color: rgb(246, 248, 250);
}

.mainContainer.dark {
  background-color: var(--bgColor);
}

.controlPanel {
  flex: 0 0 auto;
  border-bottom: 1px solid var(--border-shadow-color);
  box-shadow: 0 0 10px var(--border-shadow-color);
  overflow: hidden;
  z-index: 1;
}

.controlPanel .row {
  display: flex;
  margin: 8px;
}

.row .select:last-child {
  margin-right: 0;
}

.select {
  margin-right: 8px;
}

.controlPanel .rows {
  float: right;
}

.controlPanel .rows::after {
  clear: both;
}

.list {
  flex: 1 1 auto;
  padding: 10px;
}




