.container {
  display: flex;
  justify-content: flex-end;
  height: 42px;
  box-shadow: 0 0 8px var(--border-shadow-color);
  border-bottom: 1px solid var(--border-shadow-color);
  background-color: var(--bgColor);
}

.colorSchema {
  display: flex;
  align-items: center;
  margin: 0 6px;
}

.colorSchema .switch {
  margin-right: 6px;
}

.colorSchema .text {
  color: var(--text-color);
  font-weight: bol;
  font-size: 0.875rem;
}

.iconArea {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.iconWrapper, .avatarArea {
  display: flex;
  margin: 0 2px;
  padding: 8px;
}
  
.iconWrapper:hover {
  border-radius: 10%;
  background-color: var(--hover-bgColor);
}

.avatarArea {
  cursor: default;
}

.avatarArea .avatar {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.875rem;
  font-weight: bold;
  user-select: none;
  color: #fff;
  background: linear-gradient(45deg, #7d55ff, #1cfff2);
}

.mapSelect {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.mapSelect .select {
  width: 200px;
}

.accountMenuIcon {
  margin-left: 12px;
}