.container {
  display: inline-flex;
  align-items: center;
  height: 32px;
  border-radius: 4px;
  padding: 0 2px;
  background-color: var(--bgColor);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px var(--border-shadow-color);
  border: 1px solid var(--border-shadow-color);
}

.tooltip {
  font-size: 0.85rem;
}